/* Common Classes */
.outline-none {
    outline: none;
}

.outline-none:focus {
    outline: none;
}

.cursor-pointer {
    cursor: pointer;
}

.text-gray {
    color: var(--gray);
}

.icon {
    font-size: 1.4rem;
}

.small-icon {
    font-size: 1.3rem;
}

.flex {
    display: flex;
}

.timestamp {
    font-size: .9rem;
    font-weight: 400;
    color: rgb(82, 82, 82);
    margin-left: .5rem;
}

.text-blue {
    color:#44acec;
}


/* Chat-Header */
#heading {
    text-align: center;
    margin-top: 1rem;
}

.chat-container {
    width: 80dvw;
    height: 90dvh;
    margin: 2rem auto;
    padding: 1rem 2rem;
    background-color: #efefff;
    flex-direction: column;
    /* overflow-y: hidden; */
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    margin: 1rem 0 2rem;
    width: 100%;
}

#group-name {
    letter-spacing: .1px;
    font-weight: 600;
}

#group-desc {
    letter-spacing: .1px;
    font-weight: 400;
    color: gray
}

.chat-header .group-members {
    gap: 1rem;
}



/* Chat-Box */
main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0;
    gap: 1rem 0;
    overflow: hidden;
}

#chat-messages{
    list-style-type: none;
    flex-direction: column;
    gap: 2rem 0;
    overflow-y: auto;
}

#chat-messages .message-item {
    gap: 0 .9rem;
    align-items: center;
}

#chat-messages .message-item .avatar {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .6rem .7rem;
    background-color: blueviolet;
    align-self:flex-start;
}

#chat-messages .message-item .message-main {
    align-self: flex-end;
}

#chat-messages .message-item .message-main h2{
    font-weight: 600;
    font-size: 1.3rem;
} 

#chat-messages .message-item .message-main .message-content {
    background-color: #fff;
    padding: .7rem 1.5rem .7rem 1rem;
    border-radius: 0 1rem 1rem 1rem;
    position: relative;

}

#chat-messages .message-item .message-main .message-content p:nth-child(2) {
    position: absolute;
    right: -2.5rem;
    bottom: 0;
}

#chat-form {
    border: 1px solid var(--gray);
    border-radius: 1rem;
    /* padding: .4rem 1.3rem; */
    /* padding-right: 1rem; */
}

/* #chat-form .input {
    border: 0;
    flex: 1 0;
    background: none;
    background-color: transparent;
    font-size: 1.05rem;
    letter-spacing: .3px;
    margin: 0;
} */


/* Media Queries */
@media screen and (max-width: 992px) {
    .chat-container {
        width: 85dvw;
    }
}

@media screen and (max-width: 768px) {
    .chat-container {
        width: 90dvw;
    }
}

@media screen and (max-width: 600px) {
    .chat-container {
        width: 95dvw;
    }
}








/* Mention Styles */
.mentions {
    margin: 1rem 0;
    background-color: transparent;
}

.mentions--singleLine .mentions__control {
    display: inline-block;
    background-color: transparent;
}

.mentions--singleLine .mentions__higlighter {
    padding: 1px;
    border: 2px inset transparent;
}
.mentions--singleLine .mentions__input {
    padding: 5px;
    border: 2px inset;
}

.mentions--multiLine .mentions__control {
    font-family: monospace;
    font-size: 14pt;
    /* border: 1px solid silver; */
}
.mentions--multiLine .mentions__highlighter {
padding: 9px;
}
.mentions--multiLine .mentions__input {
padding: 9px;
min-height: 63px;
outline: 0;
border: 0;
background-color: transparent;
}

.mentions__suggestions__list {
background-color: white;
border: 1px solid rgba(0, 0, 0, 0.15);
font-size: 10pt;
position: relative;
bottom: 8rem;
left: 8rem;
}

.mentions__suggestions__item {
padding: 5px 15px;
border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.mentions__suggestions__item--focused {
background-color: #cee4e5;
}

.mentions__mention {
background-color: #cee4e5;
}